In [317]:
import pandas as pd 
import numpy as np 
import glob
import os
import matplotlib.pyplot as plt

In [16]:
path_to_sales_data = os.path.join(os.path.expanduser("~"), "Desktop", "Data Analysis Project", "Sales_Data", "*.csv")

In [17]:
csv_files = glob.glob(path_to_sales_data)

In [20]:
dataframes = []
for file in csv_files:
    df=pd.read_csv(file)
    dataframes.append(df)

In [23]:
combined_df = pd.concat(dataframes, ignore_index=True)

In [24]:
combined_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [30]:
#ALL the files are Updated
combined_df.to_csv('all_data.csv', index=False)

In [29]:
#reading Data from Updatef File 
all_data = pd.read_csv('all_data.csv')

In [34]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

### Add Month Column to get better Monthwise Analysis

In [36]:
all_data['Order Date']=pd.to_datetime(all_data['Order Date'] , errors = 'coerce')

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\2419712077.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_data['Order Date']=pd.to_datetime(all_data['Order Date'] , errors = 'coerce')

In [42]:
all_data['Order_Month']=all_data['Order Date'].dt.strftime('%b')

In [46]:
all_data.drop(index=[1],inplace=True)

In [56]:
all_data.reset_index().drop(columns=(['index']), inplace=True)

In [60]:
data_updated=all_data.reset_index().drop(columns=(['index'])).copy()

In [69]:
#Monthly share of sales 
Monthly_share=(data_updated.Order_Month.value_counts()/185950)*100

In [70]:
data_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186849 entries, 0 to 186848
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  186305 non-null  object
 6   Order_Month       185950 non-null  object
dtypes: datetime64[ns](1), object(6)
memory usage: 10.0+ MB

In [79]:
data_updated[data_updated['Order ID'].isnull()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order_Month
355,NaN,NaN,NaN,NaN,NaT,NaN,NaN
734,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1432,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1552,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1570,NaN,NaN,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...
185175,NaN,NaN,NaN,NaN,NaT,NaN,NaN
185437,NaN,NaN,NaN,NaN,NaT,NaN,NaN
186041,NaN,NaN,NaN,NaN,NaT,NaN,NaN
186547,NaN,NaN,NaN,NaN,NaT,NaN,NaN
186825,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [88]:
data_updated.isnull().sum()

Order ID              0
Product               0
Quantity Ordered      0
Price Each            0
Order Date          355
Purchase Address      0
Order_Month         355
dtype: int64

In [ ]:
# we have 544 rows which contains nan value removng it from all rows 
data_updated.dropna(how='all' , inplace=True)

### Converting All Numerical columns into Integer and Float

In [94]:
data_updated['Order ID']=data_updated['Order ID'].str.replace("'" , " ")

In [113]:
data_updated['Order ID']=pd.to_numeric(data_updated['Order ID'] , errors = 'coerce')

In [117]:
data_updated = data_updated.dropna(subset=['Order ID'])

In [119]:
data_updated['Order ID']=data_updated['Order ID'].astype(int)

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\2195840475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated['Order ID']=data_updated['Order ID'].astype(int)

In [120]:
data_updated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 186848
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int32
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
 6   Order_Month       185950 non-null  object
dtypes: datetime64[ns](1), int32(1), object(5)
memory usage: 10.6+ MB

In [123]:
data_updated['Quantity Ordered']=data_updated['Quantity Ordered'].astype(int)

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\570437569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated['Quantity Ordered']=data_updated['Quantity Ordered'].astype(int)

In [128]:
data_updated['Price Each']=data_updated['Price Each'].astype(float)

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\2867366605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated['Price Each']=data_updated['Price Each'].astype(float)

### Updated Data Info

In [131]:
data_updated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 186848
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int32
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int32
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
 6   Order_Month       185950 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(2), object(3)
memory usage: 9.9+ MB

In [135]:
data_updated.rename(columns={'Price Each' : 'Price Each($)'} , inplace=True)

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\2939740230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated.rename(columns={'Price Each' : 'Price Each($)'} , inplace=True)

In [143]:
len(data_updated[data_updated['Purchase Address'].str.contains('St')])

185950

In [313]:
data_updated.drop(columns=['City' , 'State'] , inplace=True)

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\2918370849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated.drop(columns=['City' , 'State'] , inplace=True)

In [166]:
data_updated['Order_Hour']=data_updated['Order Date'].dt.hour

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\1184495173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated['Order_Hour']=data_updated['Order Date'].dt.hour

In [191]:
# Adding Sales Columns 
data_updated['Sales ($)']=data_updated['Quantity Ordered'] * data_updated['Price Each($)']

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\2887767557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated['Sales ($)']=data_updated['Quantity Ordered'] * data_updated['Price Each($)']

### What was the best month for sales? How much was earned that month?

In [192]:
data_updated.groupby('Order_Month')['Sales ($)'].sum().sort_values(ascending=False)

Order_Month
Dec    4613443.34
Oct    3736726.88
Apr    3390670.24
Nov    3199603.20
May    3152606.75
Mar    2807100.38
Jul    2647775.76
Jun    2577802.26
Aug    2244467.88
Feb    2202022.42
Sep    2097560.13
Jan    1822256.73
Name: Sales ($), dtype: float64

In [175]:
monthly_analysis=data_updated.groupby('Order_Month')

In [193]:
monthly_analysis['Quantity Ordered'].sum()

Order_Month
Apr    20558
Aug    13448
Dec    28114
Feb    13449
Jan    10903
Jul    16072
Jun    15253
Mar    17005
May    18667
Nov    19798
Oct    22703
Sep    13109
Name: Quantity Ordered, dtype: int32

### What city sold the most product?

In [311]:
data_updated.groupby('City_State')['Quantity Ordered'].sum()

City_State
Atlanta (GA)          16602
Austin (TX)           11153
Boston (MA)           22528
Dallas (TX)           16730
Los Angeles (CA)      33289
New York City (NY)    27932
Portland (ME)          2750
Portland (OR)         11303
San Francisco (CA)    50239
Seattle (WA)          16553
Name: Quantity Ordered, dtype: int32

In [309]:
grouping=data_updated.groupby('City_State')

In [310]:
grouping[['Quantity Ordered' , 'Product','Sales ($)' ]].sum().reset_index()

,City_State,Quantity Ordered,Product,Sales ($)
0,Atlanta (GA),16602,USB-C Charging CableLightning Charging CableBo...,2795498.58
1,Austin (TX),11153,Apple Airpods HeadphonesApple Airpods Headphon...,1819581.75
2,Boston (MA),22528,Bose SoundSport HeadphonesWired HeadphonesAppl...,3661642.01
3,Dallas (TX),16730,USB-C Charging Cable27in 4K Gaming MonitorAA B...,2767975.40
4,Los Angeles (CA),33289,Google PhoneWired HeadphonesWired HeadphonesGo...,5452570.80
5,New York City (NY),27932,Apple Airpods HeadphonesAAA Batteries (4-pack)...,4664317.43
6,Portland (ME),2750,AAA Batteries (4-pack)Flatscreen TVWired Headp...,449758.27
7,Portland (OR),11303,AAA Batteries (4-pack)Lightning Charging Cable...,1870732.34
8,San Francisco (CA),50239,USB-C Charging CableMacbook Pro LaptopUSB-C Ch...,8262203.91
9,Seattle (WA),16553,Bose SoundSport HeadphonesLightning Charging C...,2747755.48

In [221]:
grouping[['Quantity Ordered' , 'Sales ($)']].mean().reset_index()

            City  Quantity Ordered   Sales ($)
0        Atlanta          1.115651  187.856903
1         Austin          1.125997  183.703357
2         Boston          1.130129  183.688272
3         Dallas          1.128880  186.772969
4    Los Angeles          1.124438  184.177362
5  New York City          1.122849  187.502711
6       Portland          1.127397  186.160498
7  San Francisco          1.123111  184.704550
8        Seattle          1.123608  186.516120

In [224]:
hourly_analysis=data_updated.groupby('Order_Hour')

In [232]:
hourly_analysis[['Quantity Ordered' , 'Sales ($)' ]].mean().sort_values(by='Sales ($)',ascending=False)

            Quantity Ordered   Sales ($)
Order_Hour
1                   1.114468  196.113566
17                  1.122030  195.372200
15                  1.119509  190.815686
8                   1.119246  190.592866
4                   1.097190  190.469567
14                  1.125455  189.700722
2                   1.124698  188.939212
23                  1.125896  187.936963
9                   1.122085  187.360606
21                  1.121143  186.979293
19                  1.121271  186.977028
20                  1.125940  186.597664
7                   1.135876  185.702847
11                  1.128434  185.368644
12                  1.128307  184.064617
16                  1.123074  183.416921
0                   1.132481  182.537409
22                  1.122081  182.220495
18                  1.123941  180.728689
6                   1.132151  180.545125
13                  1.128288  177.705483
10                  1.124635  177.657782
3                   1.116727  175.400590
5                   1.130204  174.625148

In [323]:
hourly_analysis[['Quantity Ordered' , 'Sales ($)', 'Product']].sum().sort_values(by='Sales ($)',ascending=False).reset_index()

,Order_Hour,Quantity Ordered,Sales ($),Product
0,19,14470,2412938.54,27in 4K Gaming MonitorGoogle PhoneUSB-C Chargi...
1,12,14202,2316821.34,Lightning Charging CableBose SoundSport Headph...
2,11,14005,2300610.24,Apple Airpods HeadphonesBose SoundSport Headph...
3,20,13768,2281716.24,Apple Airpods HeadphonesFlatscreen TVApple Air...
4,18,13802,2219348.30,USB-C Charging CableUSB-C Charging CableFlatsc...
5,13,13685,2155389.80,USB-C Charging CableUSB-C Charging CableLightn...
6,17,12229,2129361.61,Google PhoneAAA Batteries (4-pack)Google Phone...
7,14,12362,2083672.73,Google PhoneWired HeadphonesWired HeadphonesLi...
8,21,12244,2042000.86,iPhoneAA Batteries (4-pack)Lightning Charging ...
9,10,12308,1944286.77,USB-C Charging CableMacbook Pro LaptopAA Batte...
10,15,11391,1941549.60,AA Batteries (4-pack)Lightning Charging Cable2...
11,16,11662,1904601.31,USB-C Charging CableApple Airpods HeadphonesLi...
12,9,9816,1639030.58,Wired HeadphonesWired HeadphonesLightning Char...
13,22,9899,1607549.21,Bose SoundSport HeadphonesUSB-C Charging Cable...
14,8,7002,1192348.97,USB-C Charging CableApple Airpods HeadphonesLi...
15,23,7065,1179304.44,Apple Airpods HeadphonesWired Headphones27in F...
16,7,4556,744854.12,Bose SoundSport HeadphonesApple Airpods Headph...
17,0,4428,713721.27,AAA Batteries (4-pack)USB-C Charging CableAAA ...
18,1,2619,460866.88,27in FHD MonitorApple Airpods HeadphonesBose S...
19,6,2810,448113.00,Lightning Charging CableBose SoundSport Headph...
20,2,1398,234851.44,USB-C Charging CableWired HeadphonesUSB-C Char...
21,5,1493,230679.82,Google PhoneGoogle PhoneAA Batteries (4-pack)A...
22,4,937,162661.01,20in MonitorLightning Charging CableBose Sound...
23,3,928,145757.89,Apple Airpods HeadphonesWired HeadphonesLightn...

In [304]:
data_updated['Purchase Address'].apply(lambda x : x.split(',')[1])

0          TX 75001
1          MA 02215
2          CA 90001
3          CA 90001
4          CA 90001
            ...
186844     CA 90001
186845     CA 94016
186846     CA 94016
186847     CA 94016
186848     CA 94016
Name: Purchase Address, Length: 185950, dtype: object

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 186848
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int32
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int32
 3   Price Each($)     185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
 6   Order_Month       185950 non-null  object
 7   City              185950 non-null  object
 8   State             185950 non-null  object
 9   Zip Code          185950 non-null  object
 10  Order_Hour        185950 non-null  int32
 11  Sales             185950 non-null  float64
 12  Sales ($)         185950 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(3), object(6)
memory usage: 17.7+ MB

In [268]:
order_id_count=data_updated['Order ID'].value_counts()

In [271]:
order_ids_more_than_one=order_id_count[order_id_count > 1].index

In [275]:
filtered_data = data_updated[data_updated['Order ID'].isin(order_ids_more_than_one)]

In [279]:
order_id_grouping=filtered_data.groupby('Order ID')

In [294]:
order_id_grouping[['Product']].sum()

                                                 Product
Order ID
141275              USB-C Charging CableWired Headphones
141290     Apple Airpods HeadphonesAA Batteries (4-pack)
141365                   Vareebadd PhoneWired Headphones
141384                  Google PhoneUSB-C Charging Cable
141450            Google PhoneBose SoundSport Headphones
...                                                  ...
319536                Macbook Pro LaptopWired Headphones
319556                      Google PhoneWired Headphones
319584                            iPhoneWired Headphones
319596                    iPhoneLightning Charging Cable
319631    34in Ultrawide MonitorLightning Charging Cable

[7136 rows x 1 columns]

In [307]:
data_updated['City_State']=data_updated['Purchase Address'].apply(lambda x: f"{x.split(',')[1].strip()} ({x.split(',')[2].strip().split(' ')[0]})")

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\2906528619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_updated['City_State']=data_updated['Purchase Address'].apply(lambda x: f"{x.split(',')[1].strip()} ({x.split(',')[2].strip().split(' ')[0]})")

In [315]:
data_updated.head()

,Order ID,Product,Quantity Ordered,Price Each($),Order Date,Purchase Address,Order_Month,Zip Code,Order_Hour,Sales,Sales ($),City_State
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",Apr,75001,8,23.90,23.90,Dallas (TX)
1,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",Apr,02215,22,99.99,99.99,Boston (MA)
2,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr,90001,14,600.00,600.00,Los Angeles (CA)
3,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr,90001,14,11.99,11.99,Los Angeles (CA)
4,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",Apr,90001,9,11.99,11.99,Los Angeles (CA)

In [324]:
from itertools import combinations
from collections import Counter

In [327]:
df=data_updated[data_updated['Order ID'].duplicated(keep = False)]

In [329]:
df['complete_order']=df.groupby('Order ID')['Product'].transform( lambda x : (',').join(x))

C:\Users\AcS\AppData\Local\Temp\ipykernel_9948\3354182954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['complete_order']=df.groupby('Order ID')['Product'].transform( lambda x : (',').join(x))

In [330]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each($),Order Date,Purchase Address,Order_Month,Zip Code,Order_Hour,Sales,Sales ($),City_State,complete_order
2,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr,90001,14,600.00,600.00,Los Angeles (CA),"Google Phone,Wired Headphones"
3,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr,90001,14,11.99,11.99,Los Angeles (CA),"Google Phone,Wired Headphones"
17,176574,Google Phone,1,600.00,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",Apr,90001,19,600.00,600.00,Los Angeles (CA),"Google Phone,USB-C Charging Cable"
18,176574,USB-C Charging Cable,1,11.95,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",Apr,90001,19,11.95,11.95,Los Angeles (CA),"Google Phone,USB-C Charging Cable"
29,176585,Bose SoundSport Headphones,1,99.99,2019-04-07 11:31:00,"823 Highland St, Boston, MA 02215",Apr,02215,11,99.99,99.99,Boston (MA),"Bose SoundSport Headphones,Bose SoundSport Hea..."

In [351]:
df=df[['Order ID' , 'complete_order']].drop_duplicates()

In [354]:
count = Counter()

for row in df['complete_order']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list,2)))
count.most_common(10)

for key, value in count.most_common(10):
    print(key,value)

('iPhone', 'Lightning Charging Cable') 1005
('Google Phone', 'USB-C Charging Cable') 987
('iPhone', 'Wired Headphones') 447
('Google Phone', 'Wired Headphones') 414
('Vareebadd Phone', 'USB-C Charging Cable') 361
('iPhone', 'Apple Airpods Headphones') 360
('Google Phone', 'Bose SoundSport Headphones') 220
('USB-C Charging Cable', 'Wired Headphones') 160
('Vareebadd Phone', 'Wired Headphones') 143
('Lightning Charging Cable', 'Wired Headphones') 92

In [355]:
count = Counter()

for row in df['complete_order']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list,3)))
count.most_common(10)

for key, value in count.most_common(10):
    print(key,value)

('Google Phone', 'USB-C Charging Cable', 'Wired Headphones') 87
('iPhone', 'Lightning Charging Cable', 'Wired Headphones') 62
('iPhone', 'Lightning Charging Cable', 'Apple Airpods Headphones') 47
('Google Phone', 'USB-C Charging Cable', 'Bose SoundSport Headphones') 35
('Vareebadd Phone', 'USB-C Charging Cable', 'Wired Headphones') 33
('iPhone', 'Apple Airpods Headphones', 'Wired Headphones') 27
('Google Phone', 'Bose SoundSport Headphones', 'Wired Headphones') 24
('Vareebadd Phone', 'USB-C Charging Cable', 'Bose SoundSport Headphones') 16
('USB-C Charging Cable', 'Bose SoundSport Headphones', 'Wired Headphones') 5
('Vareebadd Phone', 'Bose SoundSport Headphones', 'Wired Headphones') 5

In [356]:
count = Counter()

for row in df['complete_order']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list,4)))
count.most_common(10)

for key, value in count.most_common(10):
    print(key,value)

('iPhone', 'Lightning Charging Cable', 'Apple Airpods Headphones', 'Wired Headphones') 4
('Google Phone', 'USB-C Charging Cable', 'Bose SoundSport Headphones', 'Wired Headphones') 3
('Vareebadd Phone', 'USB-C Charging Cable', 'Bose SoundSport Headphones', 'Wired Headphones') 2
('Google Phone', 'USB-C Charging Cable', 'Wired Headphones', 'USB-C Charging Cable') 1
('iPhone', 'Lightning Charging Cable', 'Wired Headphones', 'AA Batteries (4-pack)') 1
('Google Phone', 'USB-C Charging Cable', 'Bose SoundSport Headphones', '34in Ultrawide Monitor') 1
('Google Phone', 'USB-C Charging Cable', 'Wired Headphones', 'Apple Airpods Headphones') 1
('iPhone', 'Lightning Charging Cable', 'Apple Airpods Headphones', 'Google Phone') 1
('iPhone', 'Lightning Charging Cable', 'Wired Headphones', 'Google Phone') 1
('iPhone', 'Apple Airpods Headphones', 'Wired Headphones', 'Google Phone') 1